<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:wght@300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway+Dots&family=Rubik:wght@400;500;600;700;800&family=Zen+Dots&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </head>

  <body class="indexBody">
    <div class="indexNav">
      <div class="indexNavContent">
        <img class="logo" src="/img/logo.png" alt="" />
        <div class="navOpt">
          <a href="">Locations</a><a href="">Services</a
          ><a href="">Log in / Sign Up</a
          ><a class="in" href="">Become a Tasker</a>
        </div>
      </div>
    </div>
    <div class="indexHero">
      <div class="indCont1">
        <h1>In support of our farmers</h1>
        <p>
          farmers labour tirelessly to feed the country. We are grateful to our
          farmers for supplying us with food. farmers for supplying us with
          food.
        </p>
        <a href="/tools" class="ac">Give Items on Rent</a>
      </div>
    </div>
    <div class="adminDetails">
      <div class="adminBox">
        <div class="adminHead">Your Items</div>
        <div class="projectBox">
          <div class="pbox">
            <div class="pimg">
              <img src="/img/thresher1.jpg" alt="" />
            </div>
            <div class="pcontent">
              <h1>thresher</h1>
              <p>
                <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
              </p>
            </div>
          </div>
          <div class="pbox">
            <div class="pimg">
              <img src="img/thresher1.jpg" alt="" />
            </div>
            <div class="pcontent">
              <h1>thresher</h1>
              <p>
                <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
              </p>
            </div>
          </div>
          <div class="pbox">
            <div class="pimg">
              <img src="/img/thresher1.jpg" alt="" />
            </div>
            <div class="pcontent">
              <h1>thresher</h1>
              <p>
                <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
              </p>
            </div>
          </div>
          <div class="pbox">
            <div class="pimg">
              <img src="/img/thresher1.jpg" alt="" />
            </div>
            <div class="pcontent">
              <h1>thresher</h1>
              <p>
                <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="indexHeroBox">
        <h1>Get Help. Gain Happiness</h1>
        <div class="indexLine"></div>
        <p>Just Task</p>
        <div class="kwq">
           <ion-icon name="search-outline"></ion-icon> -
          <input type="text" placeholder="I need help with..." /><button
            class="ac"
          >
            Get help today
          </button>
        </div>
        <div class="indexCategory">
          <button class="greenBtn">Furniture Assembly</button>
          <button class="greenBtn">Home Repairs</button>
          <button class="greenBtn">Help Moving</button>
        </div>
      </div> -->
    </div>
    <div class="adminDetails admi2">
      <div class="adminBox">
        <div class="adminHead">Order Received</div>
        <div class="projectBox">
          <div class="pbox">
            <div class="pimg">
              <img src="/img/thresher1.jpg" alt="" />
            </div>
            <div class="pcontent">
              <h1>thresher</h1>
              <p>
                <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
              </p>
              <p>
                <ion-icon name="calendar-outline"></ion-icon>Date : 21/03/2023
              </p>
              <p>
                <ion-icon name="time-outline"></ion-icon>Time : 10 am to 11 am
              </p>
            </div>
          </div>
          <div class="pbox">
            <div class="pimg">
              <img src="/img/thresher1.jpg" alt="" />
            </div>
            <div class="pcontent">
              <h1>thresher</h1>
              <p>
                <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
              </p>
              <p>
                <ion-icon name="calendar-outline"></ion-icon>Date : 21/03/2023
              </p>
              <p>
                <ion-icon name="time-outline"></ion-icon>Time : 10 am to 11 am
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="indexHeroBox">
        <h1>Get Help. Gain Happiness</h1>
        <div class="indexLine"></div>
        <p>Just Task</p>
        <div class="kwq">
           <ion-icon name="search-outline"></ion-icon> -
          <input type="text" placeholder="I need help with..." /><button
            class="ac"
          >
            Get help today
          </button>
        </div>
        <div class="indexCategory">
          <button class="greenBtn">Furniture Assembly</button>
          <button class="greenBtn">Home Repairs</button>
          <button class="greenBtn">Help Moving</button>
        </div>
      </div> -->
    </div>

    <div class="indexFoot">
      <div class="footC">
        <div class="scop">
          <p>Follow Us we are friendly</p>
          <div>
            <ion-icon name="logo-facebook"></ion-icon
            ><ion-icon name="logo-twitter"></ion-icon
            ><ion-icon name="logo-instagram"></ion-icon>
          </div>
        </div>
        <div class="scdf">
          <div class="discoverFoot">
            <p>Discover</p>
            <p>Become a Tasker</p>
            <p>Services By CItu</p>
            <p>All Services</p>
            <p>Elite Taskers</p>
            <p>Help</p>
          </div>
          <div class="discoverFoot">
            <p>Company</p>
            <p>About Us</p>
            <p>Carrers</p>
            <p>Press</p>
            <p>Task Rabbit for Good</p>
            <p>Blog</p>
            <p>Terms & Policy</p>
            <p>Do not sell my personal information</p>
          </div>
          <div class="discoverFoot">
            <p>Download Our App</p>
            <p>Tackle your to-do list wherever you are with our mobile app.</p>
            <div class="apps">
              <img src="/img/appstore_badge.svg" alt="" />
              <img src="/img/google_play_badge.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
