<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:wght@300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway+Dots&family=Rubik:wght@400;500;600;700;800&family=Zen+Dots&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </head>

  <body style="background-color: #e5f8ec" class="indexBody">
    <div class="indexNav">
      <div class="indexNavContent">
        <img class="logo" src="/img/logo.png" alt="" />
        <div class="navOpt">
          <a href="/about">About Us</a>
          <a href="/">home</a>
          <a class="in" href="/tools">Property Lender</a>
          <a class="in" href="/property">Machine Lender</a>
        </div>
      </div>
    </div>
    <div class="indexHero">
      <div class="indCont">
        <h1>In support of our farmers</h1>
        <p>
          Farmers labour tirelessly to feed the country. We are grateful to our
          farmers for supplying us with food. Farmers are the backbone of food
          supply, and we will do all in our power to help them. Our farmers'
          devotion and hard labour deserve our constant support and gratitude.
          Let us stand in solidarity with our farmers and support them in their
          efforts to feed the world, and provide them with the resources they
          require to succeed. Farmers confront several obstacles, but with our
          constant support, they will be able to overcome them and continue to
          produce for us all.
        </p>
      </div>
      <!-- <div class="indexHeroBox">
        <h1>Get Help. Gain Happiness</h1>
        <div class="indexLine"></div>
        <p>Just Task</p>
        <div class="kwq">
           <ion-icon name="search-outline"></ion-icon> -
          <input type="text" placeholder="I need help with..." /><button
            class="ac"
          >
            Get help today
          </button>
        </div>
        <div class="indexCategory">
          <button class="greenBtn">Furniture Assembly</button>
          <button class="greenBtn">Home Repairs</button>
          <button class="greenBtn">Help Moving</button>
        </div>
      </div> -->
    </div>
    <div class="easy">
      <div class="easyContent">
        <h1>Youth Stands With Farmer</h1>
        <p>
          Acess to farming equipment can be significant challange for
          small-scale farmers, who often lack the financial recources to
          purchase their own machinery. This can reduce their productivity and
          profitablity, as they may not have acess to the latest technalogy and
          tools that can help them optimize their operation. By lending
          equipment to small farmers, they can overcome these challanges and
          have acess to tools they need to increse their yeilds and grow their
          business.
        </p>

        <!-- <ul>
          <p>
            <ion-icon name="checkmark-outline"></ion-icon>Choose your Tasker by
            reviews, skills, and price
          </p>
          <p>
            <ion-icon name="checkmark-outline"></ion-icon>Schedule when it works
            for you — as early as today
          </p>
          <p>
            <ion-icon name="checkmark-outline"></ion-icon>Chat, pay, tip, and
            review all through one platform
          </p>
        </ul> -->
      </div>
      <img src="/img/ph_1891_7972.jpg" alt="" width="600" height="400" />
    </div>
    <style>
      .pbox {
        background-color: #fff;
      }
    </style>
    <div class="projects">
      <div class="project">
        <h1>Tools Available</h1>
        <div class="projectBox">
          <div class="pbox">
            <div class="pimg">
              <img src="./img/thresher1.jpg" alt="" />
            </div>
            <div class="pcontent">
              <h1>thresher</h1>
              <p>
                <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
              </p>
            </div>
          </div>
          <div class="pbox">
            <div class="pimg">
              <img
                src="./img/JCBLAgro5TonNonTippingTrailer_0_1572848404.png"
                alt=""
              />
            </div>
            <div class="pcontent">
              <h1>tractor tripping trailor</h1>
              <p>
                <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
              </p>
            </div>
          </div>
          <div class="pbox">
            <div class="pimg">
              <img src="./img/61ZBFdPLt7L._SL1500_.jpg" alt="" />
            </div>
            <div class="pcontent">
              <h1>reaper attachment</h1>
              <p>
                <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
              </p>
            </div>
          </div>
          <div class="pbox">
            <div class="pimg">
              <img src="./img/mbmould-board-35-1615282756.jpg" alt="" />
            </div>
            <div class="pcontent">
              <h1>mould board plough</h1>
              <p>
                <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
              </p>
            </div>
          </div>
        </div>
        <div class="projectBox">
          <div class="pbox">
            <div class="pimg">
              <img src="./img/maxx-reversible-mb-plough.png" alt="" />
            </div>
            <div class="pcontent">
              <h1>Maxx reversible mb plough</h1>
              <p>
                <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
              </p>
            </div>
          </div>
          <div class="pbox">
            <div class="pimg">
              <img
                src="./img/reversible-manual-mould-board-plough-1527914497-3933919.jpeg"
                alt=""
              />
            </div>
            <div class="pcontent">
              <h1>reversible nanual plough</h1>
              <p>
                <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
              </p>
            </div>
          </div>
          <div class="pbox">
            <div class="pimg">
              <img src="./img/opal-090-3mb-35-1593064741.jpg" alt="" />
            </div>
            <div class="pcontent">
              <h1>opal 090 3mb</h1>
              <p>
                <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
              </p>
            </div>
          </div>
          <div class="pbox">
            <div class="pimg">
              <img
                src="./img/mini-smart-series-chain-drive-rotavator-500x500.webp"
                alt=""
              />
            </div>
            <div class="pcontent">
              <h1>mini smart series chain drive</h1>
              <p>
                <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="featured">
      <div class="projects">
        <div class="project">
          <h1>Farms Available</h1>
          <div class="projectBox">
            <div class="pbox">
              <div class="pimg">
                <img
                  src="./img/the-process-of-buying-agricultural-land-in-india.jpg"
                  alt=""
                />
              </div>
              <div class="pcontent">
                <p></p>
                <h1>₹ 10000</h1>
                <p>Ravi's farm</p>
                <p>
                  <!-- <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr -->
                </p>
              </div>
            </div>
            <div class="pbox">
              <div class="pimg">
                <img src="./img/vivid-farmland-18901726.jpg" alt="" />
              </div>
              <div class="pcontent">
                <p></p>
                <h1>₹ 12000</h1>
                <p>Harish's farm</p>
                <p>
                  <!-- <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr -->
                </p>
              </div>
            </div>
            <div class="pbox">
              <div class="pimg">
                <img
                  src="./img/3_1_3814e181-9172-4ff3-9653-9659ef4f78cb_480x480.jpg"
                  alt=""
                />
              </div>
              <div class="pcontent">
                <p></p>
                <h1>₹ 8000</h1>
                <p>kavita's farm</p>
                <p>
                  <!-- <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr -->
                </p>
              </div>
              <!-- </div>
            <div class="pbox">
              <div class="pimg">
                <img src="./img/mbmould-board-35-1615282756.jpg" alt="" />
              </div>
              <div class="pcontent">
                <h1>mould board plogue</h1>
                <p>
                  <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
                </p>
              </div>
            </div>
          </div> -->
              <!-- <div class="projectBox">
            <div class="pbox">
              <div class="pimg">
                <img src="./img/maxx-reversible-mb-plough.png" alt="" />
              </div>
              <div class="pcontent">
                <h1>Maxx reversible mb plough</h1>
                <p>
                  <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
                </p>
              </div>
            </div> -->
              <!-- <div class="pbox">
              <div class="pimg">
                <img src="./img/reversible-manual-mould-board-plough-1527914497-3933919.jpeg" alt="" />
              </div>
              <div class="pcontent">
                <h1>reversible nanual plough</h1>
                <p>
                  <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
                </p>
              </div>
            </div>
            <div class="pbox">
              <div class="pimg">
                <img src="./img/opal-090-3mb-35-1593064741.jpg" alt="" />
              </div>
              <div class="pcontent">
                <h1>opal 090 3mb</h1>
                <p>
                  <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
                </p>
              </div>
            </div>
            <div class="pbox">
              <div class="pimg">
                <img src="./img/mini-smart-series-chain-drive-rotavator-500x500.webp" alt="" />
              </div>
              <div class="pcontent">
                <h1>mini smart series chain drive</h1>
                <p>
                  <ion-icon name="pricetag-outline"></ion-icon>price : ₹200/hr
                </p>
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <!-- <h1>More About Us</h1>
      <div class="featureBox">
        <div class="fbox">
          <div class="frow1">
            <img src="/img/jeffrey.jpeg" alt="" />
            <div class="fcontent">
              <h1>Jeffrey C.</h1>
              <p>
                <ion-icon class="str" name="star"></ion-icon> 100% Positive
                Reviews
              </p>
              <p>
                <ion-icon
                  class="done"
                  name="checkmark-circle-outline"
                ></ion-icon
                >174 Completed Tasks
              </p>
            </div>
          </div>
          <div class="frow2">
            <h2>Featured Skills</h2>
            <div class="fbco">
              <p>Help Moving</p>
              <p>$41.17/hr</p>
            </div>
            <div class="fbco">
              <p>Home Repairs</p>
              <p>$37.64$/hr</p>
            </div>
            <div class="fbco">
              <p>Furniture Assembly</p>
              <p>$35.29$/hr</p>
            </div>
          </div>
          <div class="frow3">
            <h1>I'm the right person for the job:</h1>
            <p>
              I have supplies and resources available for helping you with your
              move ins, move outs and move aroun...
            </p>
          </div>
        </div>
        <div class="fbox">
          <div class="frow1">
            <img src="/img/jeffrey.jpeg" alt="" />
            <div class="fcontent">
              <h1>Jeffrey C.</h1>
              <p>
                <ion-icon class="str" name="star"></ion-icon> 100% Positive
                Reviews
              </p>
              <p>
                <ion-icon
                  class="done"
                  name="checkmark-circle-outline"
                ></ion-icon
                >174 Completed Tasks
              </p>
            </div>
          </div>
          <div class="frow2">
            <h2>Featured Skills</h2>
            <div class="fbco">
              <p>Help Moving</p>
              <p>$41.17/hr</p>
            </div>
            <div class="fbco">
              <p>Home Repairs</p>
              <p>$37.64$/hr</p>
            </div>
            <div class="fbco">
              <p>Furniture Assembly</p>
              <p>$35.29$/hr</p>
            </div>
          </div>
          <div class="frow3">
            <h1>I'm the right person for the job:</h1>
            <p>
              I have supplies and resources available for helping you with your
              move ins, move outs and move aroun...
            </p>
          </div>
        </div>
        <div class="fbox">
          <div class="frow1">
            <img src="/img/jeffrey.jpeg" alt="" />
            <div class="fcontent">
              <h1>Jeffrey C.</h1>
              <p>
                <ion-icon class="str" name="star"></ion-icon> 100% Positive
                Reviews
              </p>
              <p>
                <ion-icon
                  class="done"
                  name="checkmark-circle-outline"
                ></ion-icon
                >174 Completed Tasks
              </p>
            </div>
          </div>
          <div class="frow2">
            <h2>Featured Skills</h2>
            <div class="fbco">
              <p>Help Moving</p>
              <p>$41.17/hr</p>
            </div>
            <div class="fbco">
              <p>Home Repairs</p>
              <p>$37.64$/hr</p>
            </div>
            <div class="fbco">
              <p>Furniture Assembly</p>
              <p>$35.29$/hr</p>
            </div>
          </div>
          <div class="frow3">
            <h1>I'm the right person for the job:</h1>
            <p>
              I have supplies and resources available for helping you with your
              move ins, move outs and move aroun...
            </p>
          </div>
        </div>
      </div>
    </div> -->
    </div>
    <div class="easy">
      <img
        src="img/dreamstime_xxl_183417536.jpg"
        alt=""
        width="600"
        height="400"
      />
      <div class="easyContent">
        <h1>What Problems Do We Cure</h1>
        <p>
          Small farmers do not have the funds to purchase large machinery, nor
          do they have the skills to farm in a more cost-effective manner. We
          help farmers with some of their issues.
        </p>

        <ul>
          <p>
            <ion-icon name="checkmark-outline"></ion-icon>Helps small farmer to
            rent big machines in low cost.
          </p>
          <p>
            <ion-icon name="checkmark-outline"></ion-icon>Help landless people
            to become farmer.
          </p>
          <p>
            <ion-icon name="checkmark-outline"></ion-icon>Provide information
            about farming and laws related to it.
          </p>
        </ul>
      </div>
    </div>

    <div class="cities">
      <h1>Cities where we work - TaskRabbit</h1>
      <div class="searchCity">
        <input type="text" placeholder="Search by zip code" />
        <button class="ac">Check Availability</button>
      </div>
      <div class="city">
        <div class="crow">
          <img src="/img/earth.png" alt="" />
          <div class="cbox">
            <h2>Andra Pradesh</h2>
            <ul>
              <li>Vishakhapatnam</li>
              <li>Nellore</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Assam</h2>
            <ul>
              <li>Guwahati</li>
              <li>Silchar</li>
              <li>Nagaon</li>
              <li>Tezpur</li>
              <li>Jorhat</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Bihar</h2>
            <ul>
              <li>Patna</li>
              <li>Gaya</li>
              <li>Muzzafarnagar</li>
              <li>Purnia</li>
              <li>Begusarai</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Chattisgarh</h2>
            <ul>
              <li>Raipur</li>
              <li>Raigarh</li>
              <li>Korba</li>
              <li>Jagdalpur</li>
              <li>Bilaspur</li>
            </ul>
          </div>
        </div>
        <div class="crow">
          <div class="cbox">
            <h2>Gujrat</h2>
            <ul>
              <li>Ahmedabad</li>
              <li>Surat</li>
              <li>Baroda</li>
              <li>Rajkot</li>
              <li>Gandhinagar</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Haryana</h2>
            <ul>
              <li>Faridabad</li>
              <li>Panipat</li>
              <li>Ambala</li>
              <li>Hisar</li>
              <li>Panchkula</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Himachal Pradesh</h2>
            <ul>
              <li>Shimla</li>
              <li>Mubarakhpur</li>
              <li>Amb</li>
              <li>Kangra</li>
              <li>Mandi</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Jammu and Kashmir</h2>
            <ul>
              <li>Srinagar</li>
              <li>Jammu</li>
              <li>Phelgam</li>
              <li>Tangmarg</li>
              <li>Sonamarg</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Jharkhand</h2>
            <ul>
              <li>Chatra</li>
              <li>Hazaribagh</li>
              <li>Bokaro</li>
              <li>Dhanbad</li>
              <li>Ramgarh</li>
            </ul>
          </div>
        </div>
        <div class="crow">
          <div class="cbox">
            <h2>Karnataka</h2>
            <ul>
              <li>Kolar</li>
              <li>Mysore</li>
              <li>Tumkur</li>
              <li>Raichur</li>
              <li>Hassan</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Kerela</h2>
            <ul>
              <li>Kozikode</li>
              <li>Kochi</li>
              <li>Trivanantpuram</li>
              <li>Kollam</li>
              <li>Trissur</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Madhya Predesh</h2>
            <ul>
              <li>Indore</li>
              <li>Bhopal</li>
              <li>Jabalpur</li>
              <li>Gwalior</li>
              <li>Sagar</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Maharastra</h2>
            <ul>
              <li>Pune</li>
              <li>Merut</li>
              <li>Solapur</li>
              <li>Thane</li>
              <li>Nasik</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Odissa</h2>
            <ul>
              <li>Puri</li>
              <li>Balasore</li>
              <li>Bhuneshwar</li>
              <li>Cuttack</li>
              <li>Rourkela</li>
            </ul>
          </div>
        </div>
        <div class="crow">
          <div class="cbox">
            <h2>Punjab</h2>
            <ul>
              <li>Hoshiarpur</li>
              <li>Chandigarh</li>
              <li>Jalandhar</li>
              <li>Kapurthala</li>
              <li>Amritsar</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Rajasthan</h2>
            <ul>
              <li>Jaipur</li>
              <li>Jodhpur</li>
              <li>Ganganagar</li>
              <li>Bikaner</li>
              <li>Kota</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Tamil Nadu</h2>
            <ul>
              <li>Chennai</li>
              <li>Coimbatore</li>
              <li>Madurai</li>
              <li>Salem</li>
              <li>Erode</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Talengana</h2>
            <ul>
              <li>Hydrabad</li>
              <li>Nizambad</li>
              <li>Warangal</li>
              <li>Khammam</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Tripura</h2>
            <ul>
              <li>Agartala</li>
              <li>Udaipur</li>
              <li>Dharamnagar</li>
              <li>Kailashahar</li>
            </ul>
          </div>
        </div>
        <div class="crow">
          <div class="cbox">
            <h2>Uttar Pradesh</h2>
            <ul>
              <li>Lucknow</li>
              <li>Kanpur</li>
              <li>Vrindawan</li>
              <li>Pragraj</li>
              <li>Raibarelli</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Uttarakhand</h2>
            <ul>
              <li>Haldwani</li>
              <li>Pithoragarh</li>
              <li>Nainital</li>
              <li>Dehradun</li>
              <li>Masori</li>
            </ul>
          </div>
          <!-- <div class="cbox">
            <h2>Arizona</h2>
            <ul>
              <li>Frensco</li>
              <li>Frensco</li>
              <li>Frensco</li>
              <li>Frensco</li>
              <li>Frensco</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Arizona</h2>
            <ul>
              <li>Frensco</li>
              <li>Frensco</li>
              <li>Frensco</li>
              <li>Frensco</li>
              <li>Frensco</li>
            </ul>
          </div>
          <div class="cbox">
            <h2>Arizona</h2>
            <ul>
              <li>Frensco</li>
              <li>Frensco</li>
              <li>Frensco</li>
              <li>Frensco</li>
              <li>Frensco</li>
            </ul> -->
          <!-- </div> -->
        </div>
      </div>
    </div>

    <div class="dont">
      <h1>Don't just take our word for it</h1>
      <h2>See how taskers are saving day for people like you</h2>
      <div class="reviews">
        <div class="rv1">
          <div class="rvwbox">
            <div class="rvw1">
              <img
                src="/img/indian-farmer-4183b00e-41ea-4a54-af6c-b991a9eeef0a.jpg"
                alt=""
              />
            </div>
            <div class="rvw2">
              <h2>
                Ramesh Kumar
                <div>
                  <ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon>
                </div>
              </h2>
              <p>"made me farmer without land."</p>
              <p>October 18, 2019, Kanpur</p>
              <a href="">Mounting</a>
            </div>
          </div>
          <div class="rvwbox">
            <div class="rvw1">
              <img src="/img/istockphoto-1092520698-612x612.jpg" alt="" />
            </div>
            <div class="rvw2">
              <h2>
                Harwinder Singh
                <div>
                  <ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon>
                </div>
              </h2>
              <p>"able to rent good machines in less price."</p>
              <p>October 18, 2019, Surat</p>
              <a href="">Mounting</a>
            </div>
          </div>
          <div class="rvwbox">
            <div class="rvw1">
              <img src="/img/pexels-mohan-nannapaneni-5940091.jpg" alt="" />
            </div>
            <div class="rvw2">
              <h2>
                Gopal Das
                <div>
                  <ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon>
                </div>
              </h2>
              <p>"got information about farming. which was helpful"</p>
              <p>October 18, 2019, Raipur</p>
              <a href="">Mounting</a>
            </div>
          </div>
        </div>
        <!-- <div class="rv1">
          <div class="rvwbox">
            <div class="rvw1">
              <img src="/img/taylor.png" alt="" />
            </div>
            <div class="rvw2">
              <h2>
                Taylor B.
                <div>
                  <ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon>
                </div>
              </h2>
              <p>
                "Wilson was fantastic! Easy to work with, efficient, and went
                above and beyond when the task ended up being much larger/longer
                than we ant..."
              </p>
              <p>October 18, 2019, New York City</p>
              <a href="">Mounting</a>
            </div>
          </div>
          <div class="rvwbox">
            <div class="rvw1">
              <img src="/img/taylor.png" alt="" />
            </div>
            <div class="rvw2">
              <h2>
                Taylor B.
                <div>
                  <ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon>
                </div>
              </h2>
              <p>
                "Wilson was fantastic! Easy to work with, efficient, and went
                above and beyond when the task ended up being much larger/longer
                than we ant..."
              </p>
              <p>October 18, 2019, New York City</p>
              <a href="">Mounting</a>
            </div>
          </div>
          <div class="rvwbox">
            <div class="rvw1">
              <img src="/img/taylor.png" alt="" />
            </div>
            <div class="rvw2">
              <h2>
                Taylor B.
                <div>
                  <ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon>
                </div>
              </h2>
              <p>
                "Wilson was fantastic! Easy to work with, efficient, and went
                above and beyond when the task ended up being much larger/longer
                than we ant..."
              </p>
              <p>October 18, 2019, New York City</p>
              <a href="">Mounting</a>
            </div>
          </div>
        </div>
      </div> -->
        <!-- <p><div class="onetwothreefour">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <p class="onetwoactive">1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div></p> -->
      </div>
    </div>
    <!-- <div class="inspired">
      <h1>Get Inspired</h1>
      <h2>Explore tips, home tours, and Tasker stories.</h2>
      <div class="inspire">
        <div class="inspir1">
          <img src="/img/indian-farmer-4183b00e-41ea-4a54-af6c-b991a9eeef0a.jpg" alt="" />
          <div class="inspirbox">
            <h2>Tasker Stories</h2>
            <p>
              See the stories of Taskers who have helped make everyday life
              easier for people around the world.
            </p>
            <a href="">Read More</a>
          </div>
        </div>
        <div class="inspir2">
          <div class="inspirbox bxxc">
            <img src="/img/istockphoto-1092520698-612x612.jpg" alt="" />
            <div class="bccv">
              <h2>
                Tour a French Chateau Inspired Post- <br />
                Breakup Sanctuary
              </h2>
              <a href="">Read More</a>
            </div>
          </div>
          <div class="inspirbox bxxc">
            <img src="/img/french.jpeg" alt="" />
            <div class="bccv">
              <h2>
                Tour a French Chateau Inspired Post- <br />
                Breakup Sanctuary
              </h2>
              <a href="">Read More</a>
            </div>
          </div>
          <div class="inspirbox bxxc">
            <img src="/img/french.jpeg" alt="" />
            <div class="bccv">
              <h2>
                Tour a French Chateau Inspired Post- <br />
                Breakup Sanctuary
              </h2>
              <a href="">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="started">
      <h1>Get Started</h1>
      <div class="getstarted">
        <div class="start1">
          <img src="/img/start1.png" alt="" />
          <p>want to rent Machine or Land?</p>
          <a href="/tools" class="ac">Rent Item</a>
        </div>
        <div class="startline"></div>
        <div class="start1">
          <img src="/img/start2.png" alt="" />
          <p>Need Machine or Land?</p>
          <a href="/property" class="ac">Lend Item</a>
        </div>
      </div>
    </div>

    <div class="indexFoot">
      <div class="footC">
        <div class="scop">
          <p>Follow Us we are friendly</p>
          <div>
            <ion-icon name="logo-facebook"></ion-icon
            ><ion-icon name="logo-twitter"></ion-icon
            ><ion-icon name="logo-instagram"></ion-icon>
          </div>
        </div>
        <div class="scdf">
          <div class="discoverFoot">
            <p>Discover</p>
            <p>Become a Freeholder</p>
            <p>Our Services</p>
            <p>All Services</p>
            <p>news</p>
            <p>Help</p>
          </div>
          <div class="discoverFoot">
            <p>Company</p>
            <p>About Us</p>
            <a
              href="https://drive.google.com/file/d/1NKoOx-5IFSWLVLHTDy8Kb1rr17x__RlG/view?usp=drivesdk"
              >Document</a
            >

            <!-- <p>Task Rabbit for Good</p> -->

            <a href="/terms">Terms & Policy</a>
            <p>Do not sell my personal information</p>
          </div>
          <div class="discoverFoot">
            <p>Download Our App</p>
            <!-- <p>Tackle your to-do list wherever you are with our mobile app.</p> -->
            <div class="apps">
              <img src="/img/appstore_badge.svg" alt="" />
              <img src="/img/google_play_badge.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
