<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:wght@300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway+Dots&family=Rubik:wght@400;500;600;700;800&family=Zen+Dots&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="signUpBody">
      <div class="signUpBox">
        <div class="box">
          <img src="/img/logo.png" alt="" />
          <form action="/log" method="post">
            <div class="email">
              <label for="tel">Mobile Number</label>
              <input name="mobile" type="tel" placeholder="Mobile Number" />
            </div>
            <div class="email">
              <label for="password">Password</label>
              <input name="password" type="password" placeholder="Password" />
              <a href="">Forgot Password ?</a>
            </div>
            <button type="submit" class="signUp">Log in</button>
          </form>
          <a href="">New User? Sign Up</a>

          <!-- <button class="signUp">Sign Up</button> -->
        </div>
      </div>
    </div>
  </body>
</html>
